doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
		title= title
		// Place favicon.ico and apple-touch-icon.png in the root directory
		// build:css styles/vendor.css
		// bower:css
		// endbower
		// endbuild
		// build:css styles/main.css
		link(rel='stylesheet', href='styles/main.css')
		// endbuild
		// build:js scripts/vendor/modernizr.js
		script(src='../bower_components/modernizr/modernizr.js')
		// endbuild
	body
		//if lt IE 10
			p.browsehappy
				| You are using an 
				strong outdated
				| browser. Please 
				a(href='http://browsehappy.com/') upgrade your browser
				| to improve your experience.

		#page-content
			block content

		// Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		// build:js scripts/vendor.js
		// bower:js
		script(src='../bower_components/jquery/dist/jquery.js')
		// endbower
		// endbuild
		// build:js scripts/main.js
		script(src='scripts/main.js')
		// endbuild
