extends layout/_default

block content
	.hero-unit
		h1 'Allo, 'Allo!
		p You now have
		ul
			li HTML5 Boilerplate
			li Modernizr

		h3 Jade Loops
		each thing in things
			figure.thing
				img(src="#{thing.images.thumbnail}" alt="#{thing.title}")
				figcaption
					h3= thing.title

